{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="py-2 bg-dark">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}"> Главная /</a>
        <a class="text-white" href="{% url 'collections' %}"> Коллекции </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Часы наручные</h1>
            <div class="row">
            {% for item in category %}
                <div class="col-lg-3">
                    <div class="card text-center">
                        <a href="{% url 'collectionsview' item.slug %}">
                            <div class="card-body ">
                                <div class="category-image">
                                    <img style="height: 18rem; width: 18rem;" src="{{ item.image.url }}" alt="Category image">
                                </div>
                                <h4> {{ item.name }}</h4>
                            </div>
                        </a>    
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}