{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="py-2 bg-dark">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}"> Главная /</a>
        <a class="text-white" href="{% url 'collections' %}"> Коллекции /</a>
        <a class="text-white" href="{% url 'collectionsview' category.slug %}"> {{ category.name }}/</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ category.name }}</h1>
            <div class="row">
                {% for item in products %}
                <div class="col-md-3">
                    <div class="card">
                        <a href="{% url 'productview' item.category.slug item.slug %}">
                            <div class="card-body">
                                <div class="product-image">
                                    <img src="{{ item.product_image.url }}" alt="Product image" class="mw-100">
                                </div>
                                <h4 class="text-center"> {{ item.name }}</h4>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}